<center><span style="font:24pt 'Times New Roman'; color: #5c3b1d;">Panel administracyjny</span><br /><br />
<%= link_to "Lista wydarzeń", { :controller => "admin", :action => "newsindex" } %> || <%= link_to "Lista wydarzeń specjalnych", { :controller => "admin", :action => "eventsindex" } %> || <%= link_to "Księga gości", { :controller => "admin", :action => "gbindex" } %>
<br />
<%= link_to "Dodaj wydarzenie", { :controller => "admin", :action => "newsnew" } %> || <%= link_to "Dodaj wydarzenie specjalne", { :controller => "admin", :action => "newevent" } %>
<br />
<%= image_tag("/images/Extra/breakline_main.png") %>
</center><br />
