<%= render "menu" %><br />
<center><span style="font:18pt 'Times New Roman'; color: #5c3b1d;">Lista wydarzeń</span></center><br /><br /><br />
<% unless @newses.empty? %>
	<% @newses.each do |news| %>
			<center>
			<%= image_tag("/images/Extra/breakline_main.png") %>
			</center>
			<h2><%= news.title.force_encoding("UTF-8") %></h2>
			<%= raw(news.content.force_encoding("UTF-8")) %>
			<span style="font:12px 'Times New Roman'; float: right;">
			<%= link_to "Edytuj", :action => "newsedit", :id => news.id %>
			<%= link_to "Usuń", :action => "newsdelete", :post => news %> - 
			<%= news.updated_at.strftime("%d.%m.%Y %H:%M:%S") %></span><br />
	<% end %>
<% else %>
  <div class="notice">Nie znaleziono żadnych wpisów.</div>
<% end %>