<center>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-right: 20px;">
	<span style="font:19px 'Times New Roman'; color: #5c3b1d; margin-top -10px;">KSIĘGA GOŚCI</span>
	<img src="/images/Extra/Break_header.png" alt="" style="padding-left: 20px;"><br /><br />

		<% form_tag({:action => "create"}) do %>
		  <span style="font:12px 'Georgia'; color: #5c3b1d;">Imię:</span><br />
		  <div class="field">
		    <%= text_field "nick", :nick, :class => "boxbackground" %>
		  </div>
		  <span style="font:12px 'Georgia'; color: #5c3b1d">Treść:</span><br />
		  <div class="field">
		  <%= text_area "content", :content, :rows => 10, :class => "boxbackground" %>
		  </div>
		  <div class="actions">
		    <%= submit_tag "Akceptuj" %>
		  </div>
		<% end %>
</center>

<% unless @gbposts.empty? %>
<table>
	<% @gbposts.each do |gbpost| %>
	<tr>
		<td>
			<br />
			<center>
			<%= image_tag("/images/Extra/breakline_main.png") %>
			</center>
			<br />
		</td>
	</tr>
	<tr>
		<td><h2 style="color: #462e18;"><%= gbpost.nick.force_encoding("UTF-8") %> napisał(a):</h2></td>
	</tr>
	<tr>
		<td><%= simple_format(gbpost.content.force_encoding("UTF-8")) %>
			<span style="font:12px 'Times New Roman'; float: right;"><%= gbpost.created_at.strftime("%d.%m.%Y %H:%M:%S") %></span>
		</td>
	</tr>
	<% end %>
</table>
<% else %>
  <div class="notice">Nie znaleziono żadnych wpisów.</div>
<% end %>