<center><span style="font:24pt 'Times New Roman'; color: #5c3b1d;">Księga gości</span><br /><br />
		<% form_tag({:action => "create"}) do %>
		  Nick:<br />
		  <div class="field">
		    <%= text_field "nick", :nick %>
		  </div>
		  Treść:<br />
		  <div class="field">
		  <%= text_area "content", :content, :rows => 10 %>
		  </div>
		  <div class="actions">
		    <%= submit_tag "Akceptuj" %>
		  </div>
		<% end %>
</center>

<% unless @gbposts.empty? %>
<table>
	<% @gbposts.each do |gbpost| %>
	<tr>
		<td>
			<%= image_tag("/images/Extra/breakline_main.png") %>
		</td>
	</tr>
	<tr>
		<td><%= gbpost.nick.force_encoding("UTF-8") %> napisał(a):</td>
	</tr>
	<tr>
		<td><%= simple_format(gbpost.content.force_encoding("UTF-8")) %><br />
			<span style="font:12px 'Times New Roman';"><%= gbpost.created_at.strftime("%d.%m.%Y %H:%M:%S") %></span>
		</td>
	</tr>
	<% end %>
</table>
<% else %>
  <div class="notice">Nie znaleziono żadnych wpisów.</div>
<% end %>