<center><span style="font:24pt 'Times New Roman'; color: #5c3b1d;">WYDARZENIA</span></center><br /><br />
<% unless @posts.empty? %>
	<% @posts.each do |post| %>
			<center>
			<%= image_tag("/images/Extra/breakline_main.png") %>
			</center>
			<h2><%= post.title.force_encoding("UTF-8") %></h2>
			<%= raw(post.content.force_encoding("UTF-8")) %>
			<span style="font:12px 'Times New Roman'; float: right;"><%= post.updated_at.strftime("%d.%m.%Y %H:%M:%S") %></span>
	<% end %>
<% else %>
  	<div class="notice">Brak wpisów.</div>
<% end %>

<% if !@event.nil? %>
<div id="sponsorAdDiv" style="visibility:hidden">
<table width="450px" height="350px" bgcolor="#00F000"><tr><td>
<table width="445px" height="345px" bgcolor="#F0FFF0"><tr><td align="center" valign="middle">

<!--*****EDIT THIS MESSAGE*****-->
<A HREF="http://www.amazon.com/exec/obidos/redirect-home/wa0c?tag-id=wa0c&placement=home-btn-100x70.gif&site=amazon">
<IMG SRC="http://www.associmg.com/assoc/us/home-btn-100x70.gif?tag-id=wa0c"></A>
<%= raw(@event.content) %>

<!--*****EDIT THE ABOVE MESSAGE*****-->
</td></tr></table>
<center>To okno zniknie za kilka sekund</center>
</td></tr></table>
<% end %>
</div>
